<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProductCatalogue.MembershipServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ProductCatalogue.MembershipServices.Properties.Settings.Tourism2ConnectionString"
            connectionString="Data Source=JUSTIN-PC;Initial Catalog=Tourism2;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <ProductCatalogue.MembershipServices.Properties.Settings>
            <setting name="LDAPDomain" serializeAs="String">
                <value>halifax.isl.ca</value>
            </setting>
            <setting name="LDAPServer" serializeAs="String">
                <value>LDAP://naboo</value>
            </setting>
        </ProductCatalogue.MembershipServices.Properties.Settings>
    </applicationSettings>
</configuration>